/* google font import  */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  
}

body{
  background-color: var(--light-cream-color);
  color: var(--black-color);
}

/* custom css */
:root{
  --black-color:#030303;
  --medium-brown-color:#7A746E;
  --light-cream-color:#FFF7F0;
  --galactic-blue-color:#755CDE;
  --summer-yellow-color:#F6A560;
  --pink-color:#F39E9E;
  --light-red-color:#EB7565;
  --cyan-color:#61C4B7;
  --dark-purple-color:#552049;
}

/* navbar  */
.header{
  margin-bottom: 2rem;
  padding: 1rem;
}
.header,.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.header img,.footer__logo{
  width: 48px;
  height: 48px;
}

.header button,.footer__button{
  background-color: var(--black-color);
  color: var(--light-cream-color);
  height: 44px;
  width: 176px;
  border-radius: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0px;
  border: none;
  cursor: pointer;

  &:hover{
    background-color: var(--galactic-blue-color);
    color: var(--light-cream-color);
  }
}

/* hero section   */
.hero{
  margin-bottom: 2rem;

  .hero__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &  .hero__content{
    color: var(--black-color);
    font-size: 2.25rem;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 1rem;
    }
  
    & p{
    color: var(--medium-brown-color);
    font-size: 1rem;
    font-weight:400;
    line-height: 1.625rem;
    letter-spacing: 0px;
    text-align: center;
    max-width: 285px;
    margin:0 auto;
    }
  }
}

/* services section  */
.services{
  padding: 1rem;
  margin-bottom: 6.25rem;

  & .services__cards{
  display: grid;
  gap: 1.5rem;

    & .services__card{
      position: relative;
      display: flex;
      align-items: flex-end;
      border-radius: 0.5rem;
      
      & .services__card--content{
          padding-left:  1.75rem;
          padding-bottom:  1.75rem;
          height: fit-content;

      & h2{
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--light-cream-color);
        line-height: auto;
        letter-spacing: 0px;
      }
    }
  
  }

    & .services__card--group{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.75rem;
    }

    & .services__card img{
        position: absolute;
        top: 1.75rem;
        right: 1.75rem;
    }

  & .services__card--design{
      background-color: var(--galactic-blue-color);
      height: 22.75rem;
    }

  .services__card--ux,
  .services__card--apps{
        height: 11.375rem;
      }

  .services__card--illustration,
  .services__card--photography,
  .services__card--motion{
     height: 9.875rem;
    }
  .services__card--ux{
    background-color: var(--summer-yellow-color);
    }
  .services__card--apps{
    background-color: var(--pink-color);
    }
  .services__card--illustration{
    background-color: var(--light-red-color);
    }
  .services__card--photography{
    background-color: var(--cyan-color);
    }
  .services__card--motion{
    background-color: var(--dark-purple-color);
    }
  } 
}

/* about section */
.about{
  display: flex;
  align-items: center;
  margin-bottom: 6.25rem;
  
  & .about__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

  & .about__image{
  width: 18.75rem;
  height: auto;
  } 

  & .about__text{
    text-align: center;
    

   &.about__text h2{
    font-size: 1.625rem;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 0px;
    max-width: 343px;
    margin-bottom: 1.5rem;
    } 

  &.about__text p{
    font-size: 1rem;
    font-weight: 400;
    max-width: 343px;
    line-height: 1.625rem;
    letter-spacing: 0px;
    margin-bottom: 1.5rem;
    color: var(--medium-brown-color)
    }
  }

  & .about__button{
  background-color: var(--light-red-color);
  color: var(--light-cream-color);
  height: 44px;
  width: 176px;
  border-radius: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0px;
  border: none;
  cursor: pointer;
    &:hover{
      background-color: var(--summer-yellow-color);
      color: var(--light-cream-color);
      }
    }
  }
}

/* my work section */
.my-work{
  margin-bottom: 6.25rem;

  & .my-work__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &.my-work__content h2{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: auto;
  letter-spacing: 0px;
}

  & .my-work__slider{
  position: relative;
  width: 100%;
  height: 11.25rem;
  overflow: scroll;

  & .my-work__slider-images{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 0.938rem;
  }

  & .my-work__slider-images img{
   width: 270px;
   height: auto;
   border-radius: 0.5rem;
  }
}

& .my-work_buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

& .my-work__button{
  background-color: var(--black-color);
  border-radius: 50%;
   width: 4rem;
  height: 4rem;
  border: none;
  cursor: pointer;

  &:hover{
    background-color: var(--galactic-blue-color);
  }
    }
  }
}

.contact{
    padding: 1rem;
    margin-bottom: 6.25rem;

  & .contact__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black-color);
  color: var(--light-cream-color);
  padding: 2rem;
  border-radius: 0.625rem;
  text-align: center;

  & .contact__text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

  & h4{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: auto;
  letter-spacing: 0px;
  margin-bottom: 1.5rem;
}

 & p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0px;
  margin-bottom: 1.5rem;
}

  & .contact__button{
  background-color: var(--light-red-color);
  color: var(--light-cream-color);
  height: 44px;
  width: 176px;
  border-radius: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0px;
  border: none;
  cursor: pointer;

  &:hover{
    background-color: var(--summer-yellow-color);
  }
    }
  }
}

.footer{
  padding: 0 1rem 1rem 1rem;
}



/* media queries */
/* tablet */
@media screen and (min-width: 768px) {
.header,.footer__content{
  margin-bottom: 4rem;
  }

  /* hero */
.hero{
   margin-bottom: 4rem;

   & .hero__content{
    margin-top: 4rem;
    & h1{
        font-size: 2.75rem;
        line-height: auto;
        letter-spacing: 0px;
        margin-bottom: 1.688rem;
    }
        & p{
           font-size: 1.125rem;
           line-height: 1.75rem;
           letter-spacing: 0px;
           max-width: 573px;
        }
     }   
  }
/* services */
.services,.about,.my-work{
  margin-bottom: 7.5rem;
}
.services__cards,.about,.contact,.header,.footer__content{
  padding: 1.75rem;
}
.services__cards{
  grid-template-columns: repeat(2, auto);

  & .services__card--design{
  grid-column: 1 / 2;
  grid-row: span 2;
  }
}

/* about */
.about{

  .about__content{
    flex-direction: row;
    
    & .about__text{
      text-align: left;

      &.about__text h2{
        font-size: 2.75rem;
        font-weight: bold;
        line-height: auto;
        letter-spacing: 0px;
        max-width: 690px;
        margin-bottom: 1.5rem;
    } 

    &.about__text p{
      font-size: 1rem;
      font-weight: 400;
      max-width: 343px;
      line-height: 1.625rem;
      letter-spacing: 0px;
      margin-bottom: 1.5rem;
      color: var(--medium-brown-color)
      }   
    }

    & .about__image{
      width: 22.75rem;
      height: auto;
      margin-left: -3.75rem;
    }
  }
}

/* my work */
.my-work{

  & .my-work__content{
    gap: 3.5rem;

    &.my-work__content h2{
      font-size: 2rem;
    }

    & .my-work__slider{
      height: 22.5rem;

      & .my-work__slider-images img{
        width: 540px;
        height: auto;
       }
      }
    }
  }

    .footer{
    padding: 0;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  .container{
    max-width: 1111px;
    margin: 0 auto;
  }

  .hero{
    margin-bottom: 5rem;

    & .hero__content{
        margin-top: 4.125rem;

      & h1{
        font-size: 3.5rem;
        line-height: auto;
        letter-spacing: 0px;
       }

        & p{
          font-size: 1.125rem;
          line-height: 1.75rem;
          letter-spacing: 0px;
          max-width: 730px;
        }
    }
  }
/* services */
.services{
  margin-bottom: 8.5rem;

  & .services__cards{
  grid-template-columns: repeat(3, auto);

    & .services__card--photography{
    grid-column-start: 3;
    grid-row-start: 1;
    height: 11.375rem;
    }

    & .services__card--illustration{
    grid-column-start: 2; 
    }
  }
}

/* about */
.about{
  margin-bottom: 5.5rem;

  & .about__content{
      flex-direction: row;
      justify-content: space-between;

 & .about__text{
      &.about__text h2{
        font-size: 2.5rem;
        font-weight: bold;
        line-height: auto;
        letter-spacing: 0px;
        max-width: 540px;
        margin-bottom: 2.125rem;
    } 

    &.about__text p{
      font-size: 1.125rem;
      font-weight: 400;
      max-width: 540px;
      line-height: 1.625rem;
      letter-spacing: 0px;
      margin-bottom: 1.5rem;
      color: var(--medium-brown-color)
      }   
 }

  & .about__image{
      width: 22.75rem;
      height: auto;
      margin-left: 0;
    }
  }
}

/* my work */
.my-work{
  margin-bottom: 7.5rem;  

  & .my-work__content{
    gap:3.5rem;
  
     &.my-work__content h2{
      font-size: 2.5rem;
    }
  }
}

/* contact */

.contact{

  & .contact__content{
    flex-direction: row;
    justify-content: space-between;

    & .contact__text{
      align-items: flex-start;
      text-align: left;

      & p{
        max-width: 33.75rem;
        }
      }
    }
  }

   .footer{
  padding: 0;
  }
}

  
