/* google font import  */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  
}

body{
  background-color: var(--light-cream-color);
}

/* custom css */
:root{
  --black-color:#030303;
  --medium-brown-color:#7A746E;
  --light-cream-color:#FFF7F0;
  --galactic-blue-color:#755CDE;
  --summer-yellow-color:#F6A560;
  --pink-color:#F39E9E;
  --light-red-color:#EB7565;
  --cyan-color:#61C4B7;
  --dark-purple-color:#552049;
}

/* navbar  */
.header{
  margin-bottom: 2rem;
  padding: 1rem;
}
.header,.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.header img,.footer__logo{
  width: 48px;
  height: 48px;
}

.header button,.footer__button{
  background-color: var(--black-color);
  color: var(--light-cream-color);
  height: 44px;
  width: 176px;
  border-radius: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0px;
  border: none;
  cursor: pointer;

  &:hover{
    background-color: var(--galactic-blue-color);
    color: var(--light-cream-color);
  }
}


/* media queries */
/* tablet */
@media screen and (min-width: 768px) {
.header,.footer__content{
  margin-bottom: 4rem;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  .container{
    max-width: 1024px;
    margin: 0 auto;
  }

  .hero{
    margin-bottom: 5rem;

    & .hero__content{

        & p{
          max-width: 730px;
        }
    }
  }


}

  
